{
  "env": {
    "browser": true,
    "es2021": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["standard"],
  "rules": {
    "space-before-function-paren": ["error", "never"]
  },
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  }
}
