:root {
  --max-w-page: 90rem;
  --max-w-container: 50rem;
  --header-height: 3.125rem;
  --bg-column: #e4e2dd;
  --bg-column-shadow: #000;
}

* {
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  background-color: #222;
  color: #fff;
  font-family: Bookman Old Style, Roboto, Oxygen, "Open Sans", "Helvetica Neue",
    sans-serif;
}

form {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

label[for="displacement"] {
  margin-right: 1.375rem;
}

input[type="number"] {
  padding: 0.1em 0;
  width: 6ch;
  background-color: rgb(0 0 0 / 0.4);
  border: solid 2px rgb(255 255 255 / 0.6);
  border-radius: 0.25rem;
  color: #fff;
  text-align: center;
}

input[type="number"]::placeholder {
  color: #fff;
  opacity: 0.85;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.maxWidthPage {
  margin: 0 auto;
  max-width: var(--max-w-page);
  width: 100%;
}

.pageHeader {
  position: relative;
  width: 100%;
  height: var(--header-height);
  background-color: var(--bg-column);
}

.pageHeader::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10%;
  width: 100%;
  background-image: linear-gradient(transparent 10%, rgb(0 0 0 / 0.6));
}

.mainContent {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2.5rem 6.05rem 1.4rem;
  width: 100%;
  height: calc(100vh - var(--header-height));
  overflow: hidden;
}

.mainContent__title {
  margin-top: 0;
  margin-bottom: 0.4em;
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1;
}

.column {
  --translate-x: 50%;

  position: absolute;
  top: 0;
  width: auto;
  height: calc(100vh - var(--header-height));
  object-fit: cover;
}

.column_left {
  left: 0;
  transform: translateX(calc(-1 * var(--translate-x)));
}

.column_right {
  right: 0;
  transform: translateX(50%);
}

.heroImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: var(--max-w-page);
  width: 100%;
  height: 100%;
  background: url("/spy.jpg") top center / cover no-repeat;
}

.heroImage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.65);
}

.introduction {
  max-width: 40ch;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* Clipboard */
.clipboardContainer {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.clipboardContainer > div {
  --position-hole: 20%;
  --size-hole: 1rem;

  position: relative;
  height: 250px;
  width: auto;
}

.clipboardContainer > div:first-child::before,
.clipboardContainer > div:first-child::after,
.clipboardContainer > div:nth-child(2)::before,
.clipboardContainer > div:nth-child(2)::after {
  content: "";
  position: absolute;
  width: var(--size-hole);
  height: var(--size-hole);
  background-color: rgb(0 0 0);
  border-radius: 50%;
  z-index: 1;
}

.clipboardContainer > div:nth-child(2)::before,
.clipboardContainer > div:nth-child(2)::after {
  left: calc(0.7rem - var(--size-hole) / 2);
}

.clipboardContainer > div:first-child::before,
.clipboardContainer > div:first-child::after {
  right: calc(0.7rem - var(--size-hole) / 2);
}

.clipboardContainer > div:first-child::before,
.clipboardContainer > div:nth-child(2)::before {
  top: var(--position-hole);
}

.clipboardContainer > div:first-child::after,
.clipboardContainer > div:nth-child(2)::after {
  bottom: var(--position-hole);
}

.clipboard {
  position: relative;
  padding: 0.85em;
  height: inherit;
  color: rgb(255 255 255 / 0.85);
  background-color: #0b0b0b;
  border-width: 1.4rem;
  border-color: #947145;
  border-style: groove ridge ridge groove;
  border-radius: 4px;
  resize: none;
}

.containerWidth {
  display: flex;
  flex-direction: column;
  max-width: var(--max-w-container);
  max-height: 480px;
  margin: 0 auto;
}

.containerWidth > p {
  margin-top: 0;
}

.containerWidth > section {
  margin-top: auto;
}

.rope {
  --rope-height: 0.5rem;

  position: absolute;
  margin: 0 auto;
  width: 2.5rem;
  height: var(--rope-height);
  background-image: repeating-linear-gradient(
    30deg,
    #dab086,
    #dab086 10%,
    #dab086 16%,
    #c59b70 20%,
    #906438 24%,
    rgb(0 0 0 / 0.4) 26%
  );
  border: solid 0.5px #000;
  border-radius: calc(var(--rope-height) / 2);
  z-index: 2;
}

.rope.rope_top {
  top: calc(var(--position-hole) + calc(var(--size-hole) / 4));
  right: 0;
  transform: translateX(70%);
}

.rope.rope_bottom {
  bottom: calc(var(--position-hole) + calc(var(--size-hole) / 4));
  left: 0;
  transform: translateX(-70%);
}

.action {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.action > h2 {
  margin: 0.2em 0;
  flex-basis: 8.75rem;
  text-align: center;
}

.action__button {
  background-color: transparent;
  border-width: 0;
}

.action__arrowBoth {
  --size-arrow: 2.5rem;

  width: var(--size-arrow);
  height: var(--size-arrow);
}
